<footer class="container">
<div class="py-3">
  <p>Are you enjoying this website? Let me know.</p>
  <div class="links-container">
    <a
      href="https://www.linkedin.com/in/ai-aksoyoglu/"
      target="__blank"
    >
      <i class="fab fa-linkedin" style="color: #0e76a8"></i> LinkedIn
    </a>
    <a href="https://github.com/ai-aksoyoglu" target="__blank">
      <i class="fab fa-github" style="color: #171515"></i> GitHub
    </a>
  </div>
</div>
</footer>



  <%# For a personal website that serves as your job application portfolio as a
  web developer, I recommend using one of the following options: Contact Form:
  Implement a contact form on your website where visitors can fill out their
  information, including their email address, and send you a message. This
  method ensures that your email address is not directly exposed in the HTML
  source code. You can use various JavaScript libraries or frameworks to create
  a user-friendly and secure contact form. Ensure that you have adequate spam
  protection in place, such as CAPTCHA, to prevent unwanted submissions. Email
  Obfuscation: If you prefer to display your email address on your website, you
  can use email obfuscation techniques to make it less accessible to web
  scrapers. This involves encoding the email address using JavaScript or online
  tools. While this approach can deter casual scrapers, it's not foolproof
  against determined bots. JavaScript-Generated Email Address: Use JavaScript to
  dynamically generate and display your email address on the page when it loads.
  This makes it harder for simple web scrapers to extract your email address
  from the HTML source code. However, be aware that this approach relies on
  JavaScript, so users with JavaScript disabled in their browsers may not see
  the email address. Use a Combination: You can combine the above methods for
  added security. For instance, you might use a contact form as the primary
  means of contact and also provide an obfuscated email address or
  JavaScript-generated email address for those who prefer to use their email
  client. In general, using a contact form is a strong choice for professional
  websites like a job application portfolio. It allows you to collect structured
  information from visitors, making it easier to manage and respond to
  inquiries. Additionally, it provides a layer of security against spam.
  Remember to regularly check your spam folder and respond promptly to
  legitimate inquiries to ensure you don't miss any important communication. %>
</footer>
