<header>
  <img class="img-background" src="assets/study_1.jpg" alt="mymoria's logo">
<p class="top-description">
  <h1><em>Alexandra Irina Aksoyoglu</em></h1>
  <h2><em>Web QA Manager</em> at <strong><a href="https://www.mymoria.de/">mymoria</a></strong></h2>
</p>
</header>

