<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta
  name="description"
  content="This is my personal website, part of my portfolio for Web Developer job applications."
/>
<meta name="author" content="" />

<title>Alexandra</title>

<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="styles/main.css" />

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat&family=Sacramento&display=swap"
  rel="stylesheet"
/>

<!-- Bootstrap CSS -->

<!-- Font Awesome CSS -->
