<header class="container">
  <div class="py-3">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/weather">Weather Report</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bmi">BMI calculator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/newsletter/signup">Newsletter Signup</a>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          ToDos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/todo/today"
            ><i class="far fa-calendar-alt"></i> Today</a
          >
          <a class="nav-link" href="/todo/work"
            ><i class="far fa-clone"></i> Work</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Blog
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/blog/home"
            ><i class="fas fa-blog"></i> Home</a
          >
          <a class="nav-link" href="/blog/compose"
            ><i class="fas fa-feather"></i> Compose</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Play a game
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="/dice"><i class="fas fa-dice"></i> Dice</a>
          <a class="nav-link" href="/drums"
            ><i class="fas fa-drum"></i> Drums</a
          >
          <a class="nav-link" href="/simon"
            ><i class="fas fa-gamepad"></i> Simon</a
          >
        </div>
      </li>

      <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
  </div>
</header>
