<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>

<meta name="description" content="This is a To Do List." />
<meta name="author" content="" />

<title>ToDo Lists</title>

<!-- Custom Styles -->
<link rel="stylesheet" href="styles/todo.css" />

<!-- Google Fonts -->

<!-- Bootstrap CSS -->

<!-- Font Awesome CSS -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
/>
