<%- include('layout', { body: /* Content specific to the page */ `
<div class="box">
  <h2>
    👋 Hello <br />This is the about page of my website <br />
    and these are your navigation options:
  </h2>
  <div style="align-self: center">
    <ul>
      <li>
        <p>
          <a href="http://localhost:3000/weather">Check the weather forecast</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://localhost:3000/bmi">Calculate your BMI</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://localhost:3000/newsletter/signup"
            >Signup to our Newsletter</a
          >
        </p>
      </li>

      <li>
        <p>
          <a href="http://localhost:3000/todo">Add items on your To Do list</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://localhost:3000/work">Add items on your Work list</a>
        </p>
      </li>
      <li>
        <p>
          <a href="http://localhost:3000/blog/home">Blog</a>
        </p>
      </li>
    </ul>
  </div>
</div>
` }) %>
