<%- include('header'); -%>

<div class="box">
  <h2>
    👋 Hello <br />This is the about page of my personal website and these are
    your options:
  </h2>
  <ul>
    <li>
      <p>
        <a href="http://localhost:3000/weather">Check the weather forecast</a>
      </p>
    </li>
    <li>
      <p>
        <a href="http://localhost:3000/bmi">Calculate your BMI</a>
      </p>
    </li>
    <li>
      <p>
        <a href="http://localhost:3000/newsletter-signup"
          >Signup to our Newsletter</a
        >
      </p>
    </li>

    <li>
      <p>
        <a href="http://localhost:3000/todolist"
          >Add items on your To Do list</a
        >
      </p>
    </li>
    <li>
      <p>
        <a href="http://localhost:3000/work">Add items on your Work list</a>
      </p>
    </li>
    <li>
      <p>
        <a href="http://localhost:3000/blog-home">Blog</a>
      </p>
    </li>
  </ul>
</div>

<%- include("footer"); -%>
