<%- include("partials/blog-header"); -%>

<h1>Compose</h1>

<form class="" action="/blog-compose" method="post">
  <input type="text" name="postTitle" placeholder="" required autofocus />
  <button class="" type="submit" name="" value="">Publish</button>
</form>

<%- include("partials/blog-footer"); -%>
