<%- include('header'); -%>

<div class="box">
  <h2>👋 Hello <br />This is the about page of my personal website.</h2>
  <p>
    Would you like to know the weather forcast? Check out the
    <a href="http://localhost:3000/weather">weather page</a><br />
    Would you like to calculate your BMI? Check out the
    <a href="http://localhost:3000/bmi">BMI page</a><br />
    Would you like to signup to our newsletter? Check out the
    <a href="http://localhost:3000/newsletter-signup">Newsletter Signup page</a
    ><br />
    Would you like to add items to your todolist? Check out the
    <a href="http://localhost:3000/todolist">To Do List</a><br />
    Would you like to add items to your work To Do list? Check out the
    <a href="http://localhost:3000/work">Work list</a>
  </p>
</div>

<%- include("footer"); -%>
