<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <h1>Let's calculate the Body Mass Index (BMI)!</h1>
      <form action="/bmi" method="post">
        <input type="text" name="weight" placeholder="weight (kg)" />
        <input type="text" name="height" placeholder="height (m)" />
        <br />
        <button type="submit" name="submit" class="btn">Calculate BMI</button>
      </form>
    </main>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
