<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>To Do</title>

    <!-- Custom styles for this template -->
    <link href="css/list.css" rel="stylesheet" />

    <!-- or <link rel="icon" href="data:,"> to prevent having a new list in the database when app.get('/:customListName', function (req, res)) {} in app.js -->
    <link rel="icon" href="assets/favicon.ico" />
  </head>
</html>
