<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <div class="container justify-content-center">
        <h1><em>Welcome to my website!</em></h1>
        <p class="text-justify">
          Hi, I'm Alexandra. <br />
          I have a PhD in Chemistry (Supramolecular, Physical Chemistry). <br />
          I plunged into programming with Python in 2021. I spent 3 months
          following an intense Data Science Bootcamp training in Berlin. I
          explored Data Analytics and Data Engineering as well. I volunteered
          for an Omdena project involving image recognition. <br />
          However, by the end of the year I discovered a new language that
          tempted me: JavaScript. This opened the door towards a new horizon:
          Web Development. I now enjoy building websites and I am expanding my
          tech-stack with TypeScript. <br />
          My day-job is Web QA Manager (Cypress for e2e testing), but I am
          looking for my first Full-Stack Developer job.
        </p>
      </div>
    </main>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
