<%- include('layout', { body: /* Content specific to the page */ `
<div class="container-fluid">
  <div class="text-center">
    <h2>Hello.</h2>
    <p>I 💚 programming and I am eager to grow as a Web Developer.</p>
    <br />
    <h2>Get In Touch</h2>
    <p>
      Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales,
      tellus donec dui, ornare erat.
    </p>
  </div>
</div>
` }) %>
