<%- include('layout', { body: /* Content specific to the page */ `
<div class="middle">
  <div class="profile">
    <img class="img-profile" src="assets/avatar.png" alt="img-profile" />

    <h2>Hello.</h2>
    <p class="intro">
      I have started working at <strong>mymoria</strong> in August 2021. I 💚 it
      here and I am eager to grow as a Web Developer.
    </p>
  </div>
  <hr />

  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img class="img-skill-1" src="assets/avatar.png" alt="img-skill-1" />

      <h3>First Skill</h3>
      <p>
        Lorem ipsum dolor sit amet, quis in duis, iaculis id felis. Consectetuer
        vestibulum, nunc urna lectus, erat ligula. Hendrerit nam, lectus ante,
        ut lorem eros.
      </p>
    </div>

    <div class="skill-row">
      <img class="img-skill-2" src="assets/avatar.png" alt="img-skill-2" />

      <h3>Second Skill</h3>
      <p>
        Lorem ipsum dolor sit amet, mauris sed consectetuer. Etiam et eu,
        bibendum interdum, lacus quis mauris. Curabitur wisi, quisque vel eu,
        rutrum nam.
      </p>
    </div>
  </div>
  <hr />

  <div class="contact-me">
    <h2>Get In Touch</h2>
    <h3>Lorem ipsum dolor sit amet, non elit.</h3>
    <p>
      Lorem ipsum dolor sit amet, in quis, aenean amet. Phasellus sodales,
      tellus donec dui, ornare erat.
    </p>
    <div class="button-container">
      <a class="btn contact-me" href="contact-me.html" target="__blank"
        >CONTACT ME</a
      >

      <a class="btn dice-page" href="dice.html" target="__blank">Dice Roll</a>
      <a class="btn drums-page" href="drums.html" target="__blank"
        >Play Drums</a
      >
      <a class="btn simon-page" href="simon.html" target="__blank"
        >Play Simon</a
      >
      <a class="btn bmi-page" href="bmi" target="__blank">BMI calculator</a>
      <a class="btn weather-page" href="weather" target="__blank"
        >Weather Report</a
      >
      <a
        class="btn newsletter-signup-page"
        href="newsletter-signup"
        target="__blank"
        >Newsletter Signup</a
      >
      <a class="btn todo-page" href="todo" target="__blank"
        >Today's To Do List</a
      >
      <a class="btn about-page" href="about" target="__blank">About</a>
      <a class="btn blog-page" href="blog-home" target="__blank">Blog</a>
    </div>
  </div>
</div>
` }) %>
