<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>To Do</title>

    <!-- Custom styles for this template -->
    <link href="css/list.css" rel="stylesheet" />
  </head>

  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %>!</h1>
    </div>
    
    <div class="box">          
     <% for (let i=0; i<newListItems.length; i++) {%>
      <div class="item">
        <input type="checkbox">
        <p> <%= newListItems[i]%> </p>
      </div>        
      <% } %>

    <form class="item" action="/todolist" method="post">      
      <input type="text" name="newItem" placeholder="anything else?" required autofocus/>
      <button class="" type="submit" name="button">+</button>      
    </form>

    </div>

  </body>
</html>
