<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <h1 class="display-4">Oh, no!</h1>
      <p class="lead">There was a problem signing you up. Please try again.</p>
      <a href="/newsletter/signup" class="btn btn-lg btn-warning">
        Try Again
      </a>
    </main>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
