<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <h1 class="display-4">Awesome</h1>
      <p class="lead">
        You successfully signed up for the newsletter.
      </p>
      </div>
    </main>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
