<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <h1>Weather Report</h1>
      <form action="/weather" method="post">
        <lable for="cityInput">City: </lable>
        <input id="cityInput" type="text" name="cityName" placeholder="" />
        <br />
        <button type="submit" name="submit" class="btn">
          Check the weather there
        </button>
      </form>
    </main>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
